@model List<Contract>
@using mvc2.Models
<!-- <div id="jmbTrn" class="jumbotron " style=" padding-top: 1px; padding-left: 15px; margin-top: 2px;margin-bottom: 1px; padding-bottom: 2px;" >
 <h2  style="margin-top: 1px; margin-bottom: 0px; padding-bottom: 0px; padding-top: 2px" ><b>Онлайн зерновой агент</b></h2>
 <h5  style="margin-bottom: 3px; margin-top: 1px;padding-top: 1px;">Надежность. Сатбильность. Качество. Комфорт.</h5>
 </div>-->
 
 



	<h1 style="margin-top: 5px; "><b>ОНЛАЙН ЗЕРНОВОЙ АГЕНТ</b><small><br>Надежность. Сатбильность. Качество. Комфорт.</small></h1>
<hr>
 <div class="row">
    	<div class="col-sm-4">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center;">
							<img  src="~/Images/thumb12.gif" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">ПРОДАЖА ЗЕРНА</h3>
								<p>Посмотреть или разместить объявление, о продаже сельскохозяйственной продукции</p>
								<a class="btn btn-success btn-lg" href="@Url.Action("","Sell")">ПРОДАТЬ</a>
							</div>
						</div>
					</div>
				
	    </div>
	    <div  style="padding-left: 10px; padding-right: 10px;" class="col-sm-4">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; ">
							<img src="~/Images/thumb2.gif" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">ПЕРЕВОЗКА ЗЕРНА</h3>
								<p>Заказать авто для перевозки сельскохозяйственной продукции или предложить свое авто для сотрудничества</p>
								<a class=" btn btn-success btn-lg" href="@Url.Action("","Transport")">ПЕРЕВЕЗТИ</a>
							</div>
						</div>
					</div>
				
	    </div>
	    <div  class="col-sm-4">
    				<div class="cuadro_intro_hover " style="background-color:#cccccc;">
						<p style="text-align:center; ">
							<img src="~/Images/thumb31.gif" class="img-responsive" alt="">
						</p>
						<div class="caption">
							<div class="blur"></div>
							<div class="caption-text">
								<h3 style="border-top:2px solid white; border-bottom:2px solid white; padding:10px;">ЗАКУПКА ЗЕРНА</h3>
								<p>Посмотреть или разместить объявление если вы хотите закупить секльскохозяйственную продукцию. Закупка зерна</p>
								<a class=" btn btn-success btn-lg" href="@Url.Action("","Buy")">ЗАКУПИТЬ</a>
							</div>
						</div>
					</div>
				
	    </div>
	 </div> 
	    <div class="row" style="padding-top: 10px; ">
	     	
	     	@Html.Partial("Banner1")
	     	
	     	<div   style="padding-left: 10px; padding-right: 10px;"  class="col-sm-4">
	     	
	     	<a class="btn btn-warning btn-block" href="@Url.Action("","Contract")" style=" border-radius: 0 !important; height: 130px;"> 
			                             	<h3 style="margin-top: 0px; font-size: 21px" >Предложить<br>контракт  <br>на закупку <br>или поставку <br>  зерновых</h3>
			                            </a>
			            
	     	</div>
	     	<div class="col-sm-4 text-center"  >
	     		<div >
				<!--Kurs.com.ua main-ukraine 210x130 orange-->
				<div style="margin-bottom: 0px;" id='kurs-com-ua-informer-main-ukraine-210x130-orange-container'><a href='http://kursvalut.com' id='kurs-com-ua-informer-main-ukraine-210x130-orange' title='Курс валют в России' target='_blank'>Курс валют в России</a></div>
				<script type='text/javascript'>
				(function() {var iframe = '<ifr'+'ame src="http://kurs.com.ua/informer/inf2?color=orange" width="210" height="130" frameborder="0" vspace="0" scrolling="no" hspace="0"></ifr'+'ame>';var container = document.getElementById('kurs-com-ua-informer-main-ukraine-210x130-orange');container.parentNode.innerHTML = iframe;})();
				</script>
				<noscript><img src='http://kurs.com.ua/static/images/informer/kurs.png' width='52' height='26' alt='kurs.com.ua: курс валют в Украине!' title='Курс валют' border='0' /></noscript>
				<!--//Kurs.com.ua main-ukraine 210x130 orange-->
				</div>
			</div>
	    </div>
	    
	    
	     <div class="row" >
        <div  class="col-md-12" 

        
    <div class="panel panel-warning" style=" padding-bottom:0px;margin-bottom: 0px;margin-top: 5px">
          <div style="padding: 2px; " class="panel-heading"> <h4 style=" margin-top:0px;margin-bottom:0px;" class="text-center"><b>Наши предложения</b></h4></div>
  <div  class="panel-body" >
  
  <table class="table table-hover">

@foreach (Contract d in Model)
{
<tr>
<td>@Html.DisplayFor(modelItem => d.Text)</td>



</tr>
}
</table>

  
  
  </div></div></div>
  
  
  
  
  
  

   

	    
	    